@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                View all accounts <a asp-action="index" asp-controller="Accounts">here</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Initiate a transfer <a asp-action="index" asp-controller="Transfers">here</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                View all transactions <a asp-action="index" asp-controller="Transactions">here</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                Alternatively, you can use the left menu bar to navigate.
            </div>
        </div>
    </div>
</div>